.products-big-wrap{
    width: 100%;
    margin: 48px;
}
.products-wrap{
    
}
.products-title{
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #FFFFFF;
}
.products-list{
    margin-bottom: 41px;
    
}
.products-bottom-list{
    padding-bottom: 16px;
    border-bottom: 1px solid #393C49;
}
.products-input-wrap{
    
}
.products-select{
    appearance: none;
    width: 178px;
    padding: 14px 16px 16px 44px;
    border: 1px solid #393C49;
    /* filter: drop-shadow(0px 8px 24px rgba(146, 136, 224, 0.3)); */
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
    background-color: #252836;
    background-image: url("../../../assets/images/Filter.png");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: calc(15% - 10px);
}
.products-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.products-card-list{
    display: flex;
    padding-left: 0;
    flex-wrap: wrap;
    justify-content: space-between;
}
.products-add-btn-item{
    margin-top: 16px;
    width: 100%;
    max-width: 221px;
    background: #1F1D2B;
    border: 1px dashed #EA7C69;
    border-radius: 8px;
}
.products-add-btn{
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
}
.products-card-add-img{
    margin: 0 auto;
}
.products-add-btn-text{
    display: inline-block;
    margin-top: 24px;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #EA7C69;
}